<div class="mt-5">
    <form method="post" action="{{ path('admin_image_set_auto_tags', {'id': image.id}) }}" onsubmit="return confirm('Are you sure you want to re-discover auto tags for this image?');">
        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('set_auto_tags' ~ image.id) }}">
        <button class="btn btn-warning">Set Auto Tags</button>
    </form>
</div>