<div class="mt-5">
    <form method="post" action="{{ path('admin_image_set_neighbourhood', {'id': image.id}) }}" onsubmit="return confirm('Are you sure you want to auto-update the neighbourhood for this image?');">
        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('set_neighbourhood' ~ image.id) }}">
        <button class="btn btn-warning">Set Neighbourhood</button>
    </form>
</div>
