{% extends 'base.html.twig' %}
{% block title %}About{% endblock %}

{% block body %}
<div class="row mx-0">
    <div class="col">
        <div class="mt-2">
            {{ settings.siteAbout |striptags|markdown }}
        </div>
    </div>
</div>
{% endblock %}
