{% extends 'base.html.twig' %}

{% block title %}About One Mile Matt{% endblock %}

{% block body %}

<h2>About {{ settings.siteTitle }}</h2>

{{ settings.siteAbout |striptags|markdown }}

{% endblock %}
