framework:
    cache:
        pools:
            doctrine.result_cache_pool:
                adapter: cache.app
            doctrine.system_cache_pool:
                adapter: cache.system

doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'
        # https://github.com/longitude-one/doctrine-spatial
        types:
            polygon: LongitudeOne\Spatial\DBAL\Types\Geometry\PolygonType
            # point: LongitudeOne\Spatial\DBAL\Types\Geography\PointType
            point: LongitudeOne\Spatial\DBAL\Types\Geometry\PointType
            geometry: LongitudeOne\Spatial\DBAL\Types\GeometryType
        use_savepoints: true
    orm:
        # Avoid deprecation warning
        enable_lazy_ghost_objects: true
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

        # https://github.com/longitude-one/doctrine-spatial
        dql:
            numeric_functions:
                st_contains: LongitudeOne\Spatial\ORM\Query\AST\Functions\Standard\StContains
            string_functions:
        #       st_geomfromtext: LongitudeOne\Spatial\ORM\Query\AST\Functions\Standard\StGeomFromText

        query_cache_driver:
            type: pool
            pool: doctrine.system_cache_pool
        result_cache_driver:
            type: pool
            pool: doctrine.result_cache_pool

# when@test:
#     doctrine:
#         dbal:
#             # "TEST_TOKEN" is typically set by ParaTest
#             dbname_suffix: '_test%env(default::TEST_TOKEN)%'

# when@prod:
#     doctrine:
#         orm:
#             auto_generate_proxy_classes: false
#             proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
#             query_cache_driver:
#                 type: pool
#                 pool: doctrine.system_cache_pool
#             result_cache_driver:
#                 type: pool
#                 pool: doctrine.result_cache_pool

#     framework:
#         cache:
#             pools:
#                 doctrine.result_cache_pool:
#                     adapter: cache.app
#                 doctrine.system_cache_pool:
#                     adapter: cache.system

