# Read the documentation: https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/doc/setup.md
fos_elastica:
    clients:
        default:
            # I used these briefly instead of ELASTICSEARCH_URL as that wasn't being
            # set properly by the Symfony CLI tool. However, helpfully that was fixed
            # the same day I reported it: https://github.com/symfony-cli/symfony-cli/issues/154
            #host: '%env(ELASTICSEARCH_HOST)%'
            #port: '%env(ELASTICSEARCH_PORT)%'
            hosts: ['%env(ELASTICSEARCH_URL)%']
    indexes:
        #app:
        #    finder: ~
        wander:
            persistence:
                driver: orm
                model: App\Entity\Wander
                provider: ~
                finder: ~
                elastica_to_model_transformer:
                    query_builder_method: createSearchQueryBuilder
            properties:
                description:
                    analyzer: my_analyzer
                    property_path: false
                    boost: 5
                title:
                    analyzer: my_analyzer
                    property_path: false
                    boost: 8
                images:
                        type: "nested"
                        properties:
                            description:
                                analyzer: my_analyzer
                                property_path: false
                                boost: 5
                            title:
                                analyzer: my_analyzer
                                property_path: false
                                boost: 8
                            street:
                                analyzer: my_analyzer
                                property_path: false
                                boost: 4
                            neighbourhood:
                                analyzer: my_analyzer
                                property_path: false
                                boost: 4
                            tags:
                                type: keyword
                                normalizer: keyword_normalizer
                                boost: 3
                            autoTags:
                                type: keyword
                                normalizer: keyword_normalizer
                            textTags:
                                type: keyword
                                normalizer: keyword_normalizer
                            slugifiedTags:
                                type: keyword
                                index: true
                                property_path: false
                            slugifiedAutoTags:
                                type: keyword
                                index: true
                                property_path: false
                            slugifiedTextTags:
                                type: keyword
                                index: true
                                property_path: false
                            image_id:
                                property_path: id
            settings:
                index:
                    analysis:
                        normalizer:
                            keyword_normalizer:
                                type: custom
                                filter: [lowercase, asciifolding]
                        analyzer:
                            my_analyzer:
                                type: custom
                                tokenizer: standard
                                filter: [stop, lowercase, asciifolding, possessive_english_stemmer, 'english_stemmer']
                                char_filter: [html_strip]
                        filter:
                            possessive_english_stemmer:
                                type: 'stemmer'
                                language: 'possessive_english'
                            english_stemmer:
                                type: 'stemmer'
                                language: 'english'

                                #image:
        #    persistence:
        #        driver: orm
        #        model: App\Entity\Image
        #        provider: ~
        #        finder: ~
        #    properties:
        #        description: ~
        #        title: ~
        #        id: ~


