# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'

    http_method_override: false

    annotations: false

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        # Store session in db https://symfony.com/doc/current/session/database.html
        handler_id: Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler
        cookie_secure: auto
        cookie_samesite: lax

    # This will default to true in the future, but for now we need to explicitly enable it
    # to get the new behaviour of catching all exceptions and converting them to error
    # responses. This is important for our API, which relies on exceptions being converted
    # to JSON responses.
    handle_all_throwables: true
    php_errors:
        log: true

    request:
        formats:
            rss2: 'application/rss+xml'

    # Property info configuration
    property_info:
        enabled: true

        # Registers the constructor extractor.
        with_constructor_extractor: ~

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
