# See docs how to configure the bundle: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"

    filter_sets:
        marker_thumb:
            quality: 75
            filters:
                thumbnail: { size: [40, 40], mode: outbound }
        square_thumb_200:
            quality: 75
            filters:
                thumbnail: { size: [200, 200], mode: outbound }
        square_thumb_300:
            quality: 75
            filters:
                thumbnail: { size: [300, 300], mode: outbound }
        square_thumb_600:
            quality: 75
            filters:
                thumbnail: { size: [600, 600], mode: outbound }
        map_popup_image:
            quality: 75
            filters:
                scale:
                    dim: [600, 600]
        open_graph_image:
            quality: 75
            filters:
                relative_resize:
                    widen: 1024
        # TODO: Do these srcset_filters need the quality setting on them? How large are our images? What does 75% look like?
        srcset_144:
            quality: 75
            filters:
                relative_resize:
                    widen: 144
        srcset_288:
            quality: 75
            filters:
                relative_resize:
                    widen: 288
        srcset_420:
            quality: 75
            filters:
                relative_resize:
                    widen: 420
        srcset_576:
            quality: 75
            filters:
                relative_resize:
                    widen: 576
        srcset_720:
            quality: 75
            filters:
                relative_resize:
                    widen: 720
        srcset_840:
            quality: 75
            filters:
                relative_resize:
                    widen: 840
        srcset_960:
            quality: 75
            filters:
                relative_resize:
                    widen: 960
        srcset_1152:
            quality: 75
            filters:
                relative_resize:
                    widen: 1152
        srcset_1440:
            quality: 75
            filters:
                relative_resize:
                    widen: 1440

    # Bit of a bodge (with allow_unresolvable_data_roots and two potential paths) to
    # let this work in dev and on prod (where deployer uses a shared folder with a
    # symlink, which annoys the standard liip config, )
    # https://symfony.com/doc/2.x/bundles/LiipImagineBundle/data-loader/filesystem.html
    # https://github.com/liip/LiipImagineBundle/issues/784
    loaders:
        default:
            filesystem:
                data_root:
                    - '%kernel.project_dir%/../../shared/public'
                    - '%kernel.project_dir%/public'
                allow_unresolvable_data_roots: true
