twig:
    default_path: '%kernel.project_dir%/templates'
    form_themes: ['bootstrap_5_horizontal_layout.html.twig']
    globals:
        mapbox_access_token: '%env(MAPBOX_ACCESS_TOKEN)%'
        homebase_lat: '%env(float:HOME_BASE_LAT)%'
        homebase_lng: '%env(float:HOME_BASE_LNG)%'
        settings: '@App\Service\SettingsService'

    date:
        timezone: 'Europe/London'
    file_name_pattern: '*.twig'

when@test:
    twig:
        strict_variables: true
