**/.DS_Store
**/*~
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
**/*.log
**/*.md
**/.dockerignore

public/media/
public/uploads/
docker/data/
var/
vendor/
node_modules
Makefile

.env.local
# We use these files when running with docker compose to provide the
# enviroment to the container at runtime. .env.docker.secrets is never
# committed.
.env.docker
.env.docker.secrets

