**/.DS_Store
**/*~
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
**/*.log
**/*.md
**/.dockerignore

public/media/
public/uploads/
docker/data/
var/
vendor/
node_modules/
coverage/
Makefile

.env.local
# We use our own docker/env.dev.docker instead of our usual .env.dev
.env.dev
.env.docker.secrets

# PHPunit configs for various dev environments that might be hanging
# around in my local development environment. If we want a customised
# one in Docker we should make a special one separately and copy it in
# at build time.
phpunit.xml.dev
phpunit.xml
