services:
  test-database:
    container_name: test-database
    image: mariadb # Because it's got less problematic Arm64 support
#    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: omm_test
      MYSQL_USER: omm_test
      MYSQL_PASSWORD: omm_test
    volumes:
      - ./docker/data/test_mariadb:/var/lib/mysql:rw
  database:
    container_name: database
    image: mariadb # Because it's got less problematic Arm64 support
#    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: app
      MYSQL_USER: symfony
      MYSQL_PASSWORD: ChangeMe
    volumes:
      - ./docker/data/mariadb:/var/lib/mysql:rw
  # TODO: Figure out what these docker values should be once we've got
  # more of a docker strategy
  docker-database:
    container_name: docker-database
    image: mariadb # Because it's got less problematic Arm64 support
#    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: omm_docker
      MYSQL_USER: omm_docker
      MYSQL_PASSWORD: omm_docker
    volumes:
      - ./docker/data/docker_mariadb:/var/lib/mysql:rw

  beanstalkd:
    container_name: beanstalkd
    image: maateen/docker-beanstalkd
    ports:
      - 11300:11300

# Mostly nicked from https://medium.com/@TimvanBaarsen/how-to-run-an-elasticsearch-7-x-single-node-cluster-for-local-development-using-docker-compose-2b7ab73d8b82
  elasticsearch:
    container_name: es-container
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.22
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    # Local ports chosen by https://www.random.org/integers/?num=1&min=5001&max=49151&col=5&base=10&format=html&rnd=new
    ports:
      - 8856:9200
      - 19205:9300
    volumes:
      - ./docker/data/elasticsearch:/usr/share/elasticsearch/data

# TODO: Is this doing anything at all? We've not referenced these named volumes, have we?
volumes:
  db-data:
  es-data:
    driver: local
