<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <!--
            I have decided not to care about deprecations that aren't mine. I'll
            deal with that when I get up to Symfony 6.
            https://symfony.com/doc/current/components/phpunit_bridge.html#internal-deprecations
        -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value='max[self]=0&amp;quiet[]=indirect&amp;quiet[]=other'/>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
	    <!-- Should be the *real* path to exiftool on the test environment -->
	    <env name="TEST_EXIFTOOL_PATH" value="/usr/local/bin/exiftool" />
        <env name="APP_ENV" value="test" force="true"/>
    </php>
    <groups>
      <exclude>
	    <!-- skip over Twig's weird legacy tests -->
	    <group>legacy</group>
      </exclude>
    </groups>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
    </extensions>
    <testsuites>
        <testsuite name="Project Test Suite">
          <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
    <logging>
        <log type="coverage-html" target="coverage" />
        <!-- I'd rather just look at the HTML occasionally.
        <log type="coverage-text" target="php://stdout" />
        -->
    </logging>

    <!-- Uncomment when adding extensions
    <extensions>
    </extensions>
    -->
</phpunit>
