{% extends 'base.html.twig' %}

{% block title %}New Wander{% endblock %}

{% block body %}
    <h1>Create new Wander</h1>

    {{ include('wander/_form.html.twig') }}

    <a href="{{ path('wander_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{# https://stackoverflow.com/a/55679202/300836 #}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
{% endblock %}