{% extends 'admin_base.html.twig' %}

{% block title %}New Wander{% endblock %}

{% block body %}
    <h1>Create new Wander</h1>

    {{ include('wander/_form.html.twig') }}

    <a href="{{ path('wander_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% include '_fileinput.html.twig' %}
{% endblock %}