{% extends 'base.html.twig' %}

{% block title %}Hello WanderController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello! ✅</h1>

    I'd be showing wander {{ id }} if I'd been written properly yet.
    <ul>
        <li>Your controller at <code><a href="{{ '/home/vagrant/code/src/Controller/WanderController.php'|file_link(0) }}">src/Controller/WanderController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/vagrant/code/templates/wander/index.html.twig'|file_link(0) }}">templates/wander/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
