@use "sass:color";

@import "custom"; /* For overriding bootstrap variables */
@import "~bootstrap/scss/bootstrap";

@mixin gallery-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 3.6px;
}

@mixin display-font-stack {
    font-family: Archivo, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6, .navbar a {
    @include display-font-stack();
}

.navbar a {
    font-size: 1.4rem;
}

header {
    padding-top: 12px;
}

header h1 a:link,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
    color: inherit;
    text-decoration: none;
}

main {
    /* TODO: We should probably be using rems, or whatever's fashionable this week */
    padding-top: 12px;
}

html.homepage,
.homepage body,
.homepage main,
.homepage .container {
    height: 100%;
}

.headerstrip {
    background-color: #ddf;
}

.headerstrip h2 {
    margin-bottom: 0px;
}

.adminstrip {
    background-color: #ffd900;
    padding: 12px 0px 16px;
    // background-color: #D48900;
    a {
        @include display-font-stack();
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
        height: 18px;
        border-radius: 18px;
        padding: 6px 12px;
        margin: 6px;
        background-color: #c27e00;
        border: 1px solid #865700;
        font-size: small;

        &:link,
        &:visited,
        &:hover,
        &:active {
            color:  #FFFB17;
            text-decoration: none;
        }
        &:hover {
            background-color: #cc8500;
        }
    }
}

.footerstrip {
    background-color: #ddf;
}

.stats {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 10px;
}

.details {
    font-size: small;
}

blockquote {
    overflow: hidden;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

.settings {
    background-color: #fff8da;
}



/* TODO: We may not be using this any more. It was part of my sorting experiment on the admin_wanders_index page */
table.sortable thead th {
    white-space: nowrap;
}

img.sector {
    height: 16px;
    vertical-align: text-bottom;
}

/* Search page */
.search.result {
    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 3.6px;
}

.search.result.wander {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.search.result.image {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: #F2F2C9;
}

.search.result mark {
    background-color: rgb(255, 255, 158);
    color: black;
}

.search.result.wander,
.search.result.wander .row.description {
    background-color: #C9E1F2;
}


.search.result.wander .row.description {
    margin-bottom: 1rem;

}

.search.result.wander .wander-date {
    font-size: small;
}

$hover-darken: -15%;
$handtag-color: #cfc;
$handtag-hover-color: color.scale($handtag-color, $lightness: $hover-darken);
$autotag-color: rgb(152, 225, 253);
$autotag-hover-color: color.scale($autotag-color, $lightness: $hover-darken);
$texttag-color: rgb(247, 201, 203);
$texttag-hover-color: color.scale($texttag-color, $lightness: $hover-darken);

.keyword {
    display: inline-block;
    font-size: 0.8em;
    padding: 2px 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #2e6d2e;
    border-radius: 10px;
    margin-bottom: 3px;
    white-space: nowrap;
    &.handtag {
        background-color: $handtag-color;
        &:hover {
            background-color: $handtag-hover-color;
        }
    }
    &.autotag {
        background-color: $autotag-color;
        &:hover {
            background-color: $autotag-hover-color;
        }
    }
    &.texttag {
        background-color: $texttag-color;
        &:hover {
            background-color: $texttag-hover-color;
        }
        white-space: normal;
    }
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: #3e3e3e;
    }

}

.image .row.description,
.wander .row.description {
    background-color: #F0F1FF;
}

.nav-prev-next {
    font-size: larger;
}

.nav-prev-next .arrow {
    font-size: 2em;
}

.nav-prev-next a.arrow:link,
.nav-prev-next a.arrow:visited,
.nav-prev-next a.arrow:hover,
.nav-prev-next a.arrow:active {
    text-decoration: none;
}
.navbar-brand .site-title a {
    color: #803d48;
    text-decoration: inherit;
}

.error {
    background-color: rgb(226, 208, 221);
}
.error p {
    font-size: 1.2rem;
}

.add-wander-button {
    font-size: 0.8em;
}

.wander-list .row.wander {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(253, 245, 251);
    /* border: 1px solid rgb(255, 202, 122); */
}

.wander-list .metadata {
    font-size: 0.8rem;
}

.wander-list h3 {
    font-size: 1.2rem;
}

.featured-image {
    @include gallery-shadow();
    width: 100%;
    margin-bottom: .5rem;
}

.gallery {
    margin-top: 12px;
}

.gallery .rating {
    font-size: small;
    color: rgb(255, 166, 0);
    float: right;
}

.gallery .grid-item {
    width: 100%;
    margin-bottom: 12px;
}

.grid-item .metadata {
    padding: 5px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgba(255 , 255, 255, 0.8);
}

.grid-item .metadata a:link,
.grid-item .metadata a:visited,
.grid-item .metadata a:hover,
.grid-item .metadata a:active {
    color: #333;
}

.grid-item .metadata .description a:link,
.grid-item .metadata .description a:visited,
.grid-item .metadata .description a:hover,
.grid-item .metadata .description a:active {
    text-decoration: none;
}

/* Stats Dashboard */

// Starting point: https://www.behance.net/gallery/132016363/Shakuntala?tracking_source=curated_galleries_list
$stats-color-wander: #2491B3;
$stats-color-image: #BF5439;

.stats {
    .headline,
    .details.text {
        background-color: grey;
        color: white;
        border-radius: 1em;
        padding: 16px 0;
    }

    .headline.wanders,
    .details.text.wanders {
        background-color: $stats-color-wander;
    }

    .headline.images,
    .details.text.images {
        background-color: $stats-color-image;
    }

    .headline,
    .details.text {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    }

    .stats-row {
        margin-top: 30px;
    }

    .headline {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .details.text {
        padding: 16px 16px;
    }

    table {
        font-size: 1.2em;
        td {
            padding-left: 8px;
        }
    }

    .details a:link,
    .details a:visited,
    .details a:hover,
    .details a:active {
        color: white;
        text-decoration: underline;
    }

    .details dl dt {
        display: inline-block;
    }

    .details dl dd {
        display: inline-block;
    }

    .headline .name {
        text-transform: uppercase;
    }

    .headline .value {
        font-size: 54px;
        line-height: 64px;
    }
}

/* Small devices (landscape phones, 576px and up) */
/*
@media (min-width: 576px) {  }
*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .gallery .grid-item {
        width: calc(50% - 6px); /* 12px gutter in Masonry) */
        @include gallery-shadow();
    }
    .nav-prev-next .arrow {
        font-size: larger;
    }
    .featured-image {
        width: 420px;
        margin-left: .5rem;
    }
}

/* Large devices (desktops, 992px and up) */
/*
@media (min-width: 992px) {
}
*/

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .gallery .grid-item {
        width: 564px;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .gallery .grid-item {
        width: 432px;
    }
 }