<header class="px-4 px-sm-0">
    <h1><a href="{{ path('home') }}">{% block siteTitle %}{{ settings.siteTitle }}{% endblock %}</a></h1>
    <p>{% block siteSubtitle %}{{ settings.siteSubtitle }}{% endblock %}</p>
</header>
