{% extends 'admin/base.html.twig' %}

{% block title %}Edit Wander{% endblock %}

{% block body %}
    <h1>Edit Wander</h1>

    {{ include('admin/wander/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_wander_index') }}">back to list</a>

    {{ include('admin/wander/_delete_form.html.twig') }}
{% endblock %}
