{% extends 'admin/base.html.twig' %}

{% block title %}Edit Wander{% endblock %}

{% block body %}
    <h1>Edit Wander</h1>
    <div class="row">
        <div class="col">
            {{ include('admin/wander/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {{ include('admin/wander/_delete_form.html.twig') }}
        </div>
        <div class="col-3">
            {{ include('admin/wander/_delete_images_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ path('admin_wanders_index') }}">back to list</a>
        </div>
    </div>

{% endblock %}
