{% extends 'admin/base.html.twig' %}

{% block title %}New Wander{% endblock %}

{% block body %}
    <h1>Create new Wander</h1>

    {{ include('admin/wander/_form.html.twig') }}

    <a href="{{ path('admin_wanders_index') }}">back to list</a>
{% endblock %}
